<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<typeAliases>
  		<typeAlias type="com.tmh.t1.shipping.ShippingVO" alias="ShippingVO"/>
  		<typeAlias type="com.tmh.t1.order.OrderVO" alias="OrderVO"/>
  		<typeAlias type="com.tmh.t1.member.MemberVO" alias="MemberVO"/>
  		<typeAlias type="com.tmh.t1.member.RoleVO" alias="RoleVO"/>
  	  	<typeAlias type="com.tmh.t1.cart.CartVO" alias="CartVO"/>
  	  	<typeAlias type="com.tmh.t1.brand.BrandVO" alias="BrandVO"/>
  	  	<typeAlias type="com.tmh.t1.product.ProductVO" alias="ProductVO"/>
  	  	
  	
  		<typeAlias type="com.tmh.t1.housewarming.HousewarmingVO" alias="HousewarmingVO"/>
  		<typeAlias type="com.tmh.t1.housewarming.HwFileVO" alias="HwFileVO"/>
  		
  		<typeAlias type="com.tmh.t1.product.ProductVO" alias="ProductVO"/>
  		<typeAlias type="com.tmh.t1.category.CategoryVO" alias="CategoryVO"/>
  		<typeAlias type="com.tmh.t1.option.OptionVO" alias="OptionVO"/>
  		
  		
  	
  	
  	</typeAliases>
  
  
  
  
  </configuration>