@charset "UTF-8";


.flex-row-center{
	align-items: center;
}
.flex-row-center div, img{
	margin: 60px 8px;
}

.flex-row-center img{
	height: 30px;
}

h1{
	font-weight: bold;
	font-size: 36px;	
}
@media(max-width: 768px){
	h1{
	font-size:28px}
}

ul{
	margin: 30px 0;
}

li{
	font-size: 15px;
	line-height: 30px;
	letter-spacing: -2px;
	font-weight: 600;
}
/* form 태그 */
fieldset{
	margin: 60px 0;
}
legend{
	font-weight: bold;
	font-size: 18px;
	margin: 30px 0;
}

.form-group{
	display: flex;
	align-items: center;
}

.form-label{
	width: 200px;
	font-size: 15px;
	font-weight: bold;
	flex-shrink: 0;
}

/* 라벨 옆에 중요표시 */
span{
	color:red;
	margin-left: 3px;
}

.form-control{
	width: 400px;
	margin: 0.5rem 0;
	height:  40px;
	font-size: 13px;
}

/* 체크박스 조정 */
.form-box{
	flex-shrink: 10;
	width: 100%;
}
.form-check-inline{
	padding: 8px;	
}

/* 상품소개 */
.textarea{
	width:inherit;
	resize: none;
	font-size: 15px;
	border-color: #ced4da;
	border-radius: .25rem;
	padding: 1rem 1rem;
}

/*파일버튼*/
.btn-file{
	background-color:  #A63F82;
}

.btn-file-name{
	display: inline;
	margin-left: 10px;
}

