@charset "UTF-8";


.flex-row-center{
	align-items: center;
}
.flex-row-center div{
	margin: 60px 8px;
}

.flex-row-center img{
	height: 30px;
}

h1{
	font-weight: bold;
	font-size: 36px;	
}
@media(max-width: 768px){
	h1{
	font-size:28px}
}

ul{
	margin: 30px 0;
}

li{
	font-size: 15px;
	line-height: 30px;
	letter-spacing: -2px;
	font-weight: 600;
}
/* form 태그 */
fieldset{
	margin: 60px 0;
}
legend{
	font-weight: bold;
	font-size: 18px;
	margin: 30px 0;
}

.form-group{
	display: flex;
	align-items: center;
}

.form-label{
	width: 200px;
	font-size: 15px;
	font-weight: bold;
	flex-shrink: 0;
}

/* 라벨 옆에 중요표시 */
span{
	color:red;
	margin-left: 3px;
	font-size: 12px !important;

}

.form-control{
	width: 400px;
	margin: 0.5rem 0;
	height:  40px;
	font-size: 13px;
}

/* 체크박스 조정 */
.form-box{
	flex-shrink: 10;
	width: 100%;
}
.form-check-inline{
	padding: 8px;	
}

/* 상품소개 */
.textarea{
	width:inherit;
	resize: none;
	font-size: 15px;
	border-color: #ced4da;
	border-radius: .25rem;
	padding: 1rem 1rem;
}

/*파일버튼*/
.btn-file{
	background-color:  #A63F82;
}

.btn-file-name{
	display: inline;
	margin-left: 10px;
	font-size: 15px;
}



/*    brandHome     */
.brandHome-box{
	display: flex;
	margin: 100px auto;
}

.brandHome-box:nth-child(1){
	margin-right: 20px;
	width: 200px;
}

div[title="brandName"]{
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	margin: 40px 0;
}
/*카테고리*/
.brandHome-category{
	width: 200px;
	flex-shrink: 0;
}
/*대분류 선택하면 보이는 ajax로 동작하는 부분*/
#select-categoryOne{
	font-weight: bold;
	padding: 12px 20px;
	font-size: 18px;
}


#select-category{
	background-color: #eee;
	margin: 0 20px;
}

/*ajax categoryTwo*/
.two{
	font-size: 15px;
	padding: 10px;
	cursor: pointer;
}


/*브랜드 홈 클릭하면 보이는 카테고리 대분류*/
.category{
	margin-top: 20px;
	margin-left: 20px;
}



/*상품*/
.brandHome-productList{
	flex-shrink: 1;
}



.category-list{
	padding: 10px;
	font-size: 15px;
	border-left: 1px solid #bdbdbd;
	cursor: pointer;
}

.category-list:hover{
	color:  #A63F82;
}
