@charset "UTF-8";
/* eb_html, body설정 */
html, body{
	color: #424242;
	font-family: "Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;
	letter-spacing: -1px;
	line-height: 1;
}
main, div.mainNav{
	width: 100%;
	margin: 0 auto;
}
@media(min-width: 375px){
	main, div.mainNav{
		width: calc(100% - 120px);
		max-width: 100%;
	}
}
@media(min-width: 768px){
	main, div.mainNav{
		width: calc(100% - 120px);
		max-width: 100%;
	}
}
@media(min-width: 1024px){
	main, div.mainNav{
		width: calc(100% - 120px);
		max-width: 100%;
	}
}
@media(min-width: 1256px){
	main, div.mainNav{
		width: 1136px;
		max-width: 100%;
	}
}
/*common  */

header{ 
	padding-top: 20px; 
	background-color: white;
}

.red{
	font-weight:bold;
	color:#ff7777;
}

.btn-default{
	width:125px;
    max-width:100%;
	padding:11px 22px;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	color:#FFF;
	background-color: #A63F82;
	border:1px solid #A63F82;
	border-radius:6px;
}
 
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
	background-color: #732944;
	color:#FFF;
	border-color: #732944;
}

.btn-outline{
    
    width:125px;
    max-width:100%;
	padding:11px 22px;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	border-radius:0;
	background-color: #FFF;
	color:#A63F82;
	border-color: #A63F82;
	border:1px solid;
	border-radius:6px;

}
.btn-outline:hover, .btn-outline:focus, .bbtn-outline:active, .btn-outline.active, .open .dropdown-toggle.btn-outline {
	background-color: #e5b8d7;
	color:#A63F82;
	border-color: #A63F82;;
}


