@charset "UTF-8";

.container{
	margin-top: 50px; margin-bottom: 50px;
}

nav{
	margin-top:-40px; margin-bottom: 0px;
}
#subNav{
	margin-top:-10px; margin-bottom: 0px;
}

#logo{
	width:80px; height:50px;
}

.red{
	font-weight:bold;
	color: red;
}

.btn-default{
 
background-color: #A63F82;
 
color:#FFF;
 
border-color: #A63F82;
 
}
 
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
 
 
background-color: #732944;
 
color:#FFF;
 
border-color: #732944;
 
}