@charset "UTF-8";
/* eb_html, body설정 */
html, body{
	color: #424242;
	font-family: "Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;
	letter-spacing: -0.4px;
	line-height: 1;
	}
header, main{
	width: 100%;
	margin: 0 auto;
}
@media(min-width: 576px){
	header, main{max-width: 73rem;}
}
@media(min-width: 768px){
	header, main{max-width: 73rem;}
}
@media(min-width: 992px){
	header, main{max-width: 73rem;}
}
@media(min-width: 1200px){
	header, main{max-width: 73rem;}
}
/*common  */

header{ 
	padding-top: 20px; 
}

.red{
	font-weight:bold;
	color: red;
}

.btn-default{
 
background-color: #A63F82;
color:#FFF;
border-color: #A63F82;
}
 
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
 
 
background-color: #732944;
 
color:#FFF;
 
border-color: #732944;
 
}