@charset "UTF-8";

/* eb_header설정 */
header{ 
	position: sticky;
	top:0;
	border-bottom: 1px solid #dbdbdb;
	z-index:101;
	background-color: white;
}

/*mainNav*/
div.mainNav{
	width: 100%;
	margin: 0 auto;
}
@media(min-width: 375px){
	div.mainNav{
		width: calc(100% - 120px);
		max-width: 100%;
	}
}
@media(min-width: 768px){
	div.mainNav{
		width: calc(100% - 120px);
		max-width: 100%;
	}
}
@media(min-width: 1024px){
	div.mainNav{
		width: calc(100% - 120px);
		max-width: 100%;
	}
}
@media(min-width: 1256px){
	div.mainNav{
	width: 1136px;
		max-width: 100%;
	}
}



/* a태그 설정 */
a{
	color:#424242;
	text-decoration: none !important;
}
a:hover{ color: #A63F82; }

/* eb_네비게이션 flex사용 */
/* container */
.mainNav{
	padding: 35px 0;
	display:flex;
	align-items: flex-end;
	margin: 0 auto;
	width: 100%;
	background-color: white;
	z-index: 999 !important;
	
}
/* item */
.mainNav-item{
	display:flex;
	flex-grow: 1;
	flex-shrink: 0;
}
/* 내일의집 logo */
.mainNav-item:nth-child(1){
	flex-basis: 0.5rem;
}
.logo{ height: 30px;}

/* 커뮤니티 스토어 nav*/
.mainNav-item:nth-child(2){
	flex-grow: 2;
	flex-shrink: 0;
}

/* 장바구니~글쓰기까지 */
.mainNav-item:nth-child(3){
	flex-grow: 4;
	justify-content: flex-end;
	flex-shrink: 2;
}

/* 로그인/회원가입(member) flex(내부 container) */
.mainNav-item-one{
	display:flex;
 	padding-top:10px;
	align-items: flex-end;
}
/* item들끼리 여백필요 */
.mainNav-item a{
	margin: 0 30px;
}
.mainNav-item-one a{
	margin: 0 20px;
}
/* 장바구니 여백 따로 조정*/
a[title="cartIcon"]{ margin:0; }


/* member item 로그인/회원가입 */
.member-item{
	flex-shrink: 0;
	
}

.member-item:nth-child(1){
	position: relative;
}
/* 로그인/회원가입 사이에 있는 | */
.member-item:nth-child(1)::after{
	content: "";
	position: absolute;
	margin-left: 1rem;
	top: 0;
	bottom:0;
	border-right: 2px solid #757575;
}
/* 폰트 설정 */
.mainNav-item{
	font-size: 18px;
	font-weight: bold;
	color: #424242;
	letter-spacing: -0.1rem;
}
.member-item{
	font-size:15px;
	color: #757575;
}
/* 장바구니&프사 이미지 설정 */
.mainNav-item-one img{
	width: 30px;
	height: 30px;
	border-radius: 1em;
	
}
img[alt="profile"]:hover{
	border: 1px solid #A63F82;
}


/* 글쓰기 드랍버튼 설정 */
a[title=write]{
	margin-left:0;
	padding: 10px 18px;
	border-radius: 0.25rem;
	background-color: #A63F82;
	color:#FFF;
	font-size: 15px;
}
a[title=write]:hover{
	background-color: #732944;
	color:#FFF;
}
/* dropdown 글자간 넓이 조정 */
.dropdown-item{
	padding: 0.5rem 1rem;
}
.dropdown-item{
	width: inherit;
}

/* 커뮤니티나 스토어 클릭하면 active설정 */
.mainNav-item:nth-child(2) a.on{
	color:#A63F82;
}
/* subNav */
/*subNav*/
div.sticky-chlid{
	width: 100%;
	margin: 0 auto;
}
@media(min-width: 375px){
	div.sticky-chlid{
		width: calc(100% - 120px);
		max-width: 100%;
	}
}
@media(min-width: 768px){
	div.sticky-chlid{
		width: calc(100% - 120px);
		max-width: 100%;
	}
}
@media(min-width: 1024px){
	div.sticky-chlid{
		width: calc(100% - 120px);
		max-width: 100%;
	}
}
@media(min-width: 1256px){
	div.sticky-chlid{
		width: 1136px;
		max-width: 100%;
	}
}

.sticky-chlid>div{
	position: fixed;
	left:0;
	border-bottom: 1px solid #dbdbdb !important;
	background-color: white !important;
	width: 100%;
	padding: 10px 0;
}
.subNav{
	width: 1136px;
	margin: 0 auto;
	
}

.subNav-item{
	
	display: flex;
}

.subNav-item-one{
	margin: 5px 15px;
	font-size: 15px;
	font-weight: 700;
}

.subNav-item-one:hover{
	color:  #A63F82;
	cursor: pointer;
}
