@charset "UTF-8";
/* eb_memberJoin */
.joinLogo{
	height: 1.9rem;
	margin: 1.2rem 0.5rem;
}
/* 가운데 정렬 되도록 설정 */
.flex-center{
	display: flex;
	justify-content : center;	
}
/* 화면이 768px보다 작으면 화면을 꽉채우고 크면 적정크기로 보이도록 설정 */
.joinFrm{
	width: 100%;
	padding: 2.5rem 0.1rem;
}
@media(min-width: 768px){
	.joinFrm{
		width: 368px;
	}
}
/* input창 */
.form-group{
	margin: 2rem 0;
}
/* input item창 */
.form-control{
	margin: 0.5rem 0;
}
/* input item설명 */
.bold{
	font-weight: bold;
	font-size: 0.9rem;
	margin: 0.8rem 0;
}
/* email input item 설정 */
.email{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.email div{
	padding: 0 0.2rem;
}

/* 약관동의*/
.accept{
	border: 1px solid #dbdbdb;
	padding: 1.5rem 0;
}
/* 약관동의 글씨 간격 조정 */
.accept label{
	margin: 0.6rem 0;
}
/* 회원가입완 버튼 */
.btn-big{
	width: 100%;
	height: 4.8rem;
	font-size: 1.2rem;
	font-weight: bold;
	line-height: 3.8rem;
}
/* 
	eb_memberLogin 
*/
.column{
	flex-direction: column;
	align-items: center;
}
.loginLogo{
	margin-top: 6rem;
	width: 9rem;
	margin-bottom: 1.4rem;
}

/* 로그인 창 크기*/
.loginFrm{
	width: 300px;
	margin: 0 auto;
	margin-top: 1rem;
}
/* 로그인 인풋 창 설정 */
[class*="loginInput"]{
	padding: 1.7rem 1rem;
	margin: -2rem 0;
	border-radius: 0.25;
}

.btn{
	height: 3.6rem;
	line-height: 2.6rem;
	margin: 1.4rem 0;
}

/*
	memberPage
*/
ul, li{
	list-style: none;
	margin: 0.5rem 0;
}

/* 하단네비 */
.mpSubNav{
	display: flex;
	justify-content : center;
	margin-bottom: -1.5rem;
}

.mpSubNav-item{
	padding: 0 1.1rem 1.2rem 1.1rem;
	font-size: 0.9rem;
	font-weight: bold;
	position:relative;
}

.mpSubNav-item>a.on::after{
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 4px;
	background-color: #A63F82;
	left:0;
	bottom:0;
}
.flex-center:nth-child(n){
	margin: 2.2rem 0; 
}

/* 프로필박스 */
.profileBox{
	border: 1px solid #dbdbdb;
	border-radius: 0.3rem;
	width: 16.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 0.5rem;
}

.profileBox img{
	height: 120px;
	margin-top: 2rem;
}

h4{
	padding: 1rem 0;
	font-weight: bold;
}

.profileBox a{
	font-size: 0.8rem;
	padding:0.5rem 1rem;
	border: 1px solid #dbdbdb;
	letter-spacing: -2px;
	font-weight: bold;
}

/*컨텐츠 박스*/
#contents{
	margin-left: 8rem;
	flex-basis: 60%;
	margin-right: 0.5rem;
}
	
#contents strong{
	font-size: 1.1rem;
	letter-spacing: -2px;
}

.contentsBox{
	border: 1px solid #dbdbdb;
	border-radius: 0.3rem;
	width: 100%;
	height: 16rem;
	margin-top: 1.1rem;
}

main{
	padding-bottom: 11rem;
}
/* eb_memberUpdate */
.big-bold{
	font-size: 1.4rem;
	font-weight: bold;
	letter-spacing: -2px;
}

.updateBox{
	border: 1px solid #dbdbdb;
	border-radius: 0.3rem;
	width: 100%;
	margin: 3.1rem 0;
	padding: 3rem;
}

.updateFrm{
	width: 60%;
	
}

.updateFrm-group{
	display: flex;
	margin: 1rem 0;
	align-items: center;
}

.form-label{
	width: 5rem;
	font-weight: bold;
}

small{
	display: block;
	margin: 0.2rem 0;
}

.profileImage-add{
	width: 12rem;
	border: 1px solid #dbdbdb;
	border-radius: 0.3rem;
}
