@charset "UTF-8";
/*eun productList*/
h5 {
	margin-left: 30px;
}

* {
	box-sizing: border-box;
}

.bannerslideshow-container {
	width: 100%;
	height: 15%;
	margin: auto;
}

.bannermain_slideImg {
	width: 100%;
	height: 15%;
}

/*buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	text-align: center;
	top: 0;
	top: 20%;
	width: 3%;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	z-index: 100;
}

.next {
	right: 200px;
	border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}
/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #717171;
}
/* Fading animation */
.fade2 {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 0.5s;
	animation-name: fade;
	animation-duration: 5s;
}

@-webkit-keyframes fade2 {
	from {opacity: .4
}

to {
	opacity: 1
}

}
@keyframes fade2 {
	from {opacity: .4
}

to {
	opacity: 1
}

}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
	.slprev, .slnext, .text {
		font-size: 11px
	}
}

/* item list */
.swiper-slide {
	width: 80px;
	height: 100%;
}

.store-category-flex-container>img {
	margin: 10px;
	padding: 20px;
}

.cateogry-list-name {
	text-align: center;
	font-size: 15px;
	margin-top: 10px;
}

.store-category-list-head {
	margin: 20px;
}

.store-list-item-card {
	width: 300px;
	margin: 20px;
	float: left;
}

.item-img {
	width: 300px;
}

.card-price {
	font-weight: bold;
	font-size: 20px;
}

.item-price {
	float: left;
}

.btn-secondary {
	float: left;
}
/* productlist 불러오는 부분에 flex 설정 (flex-container) */
.productList-T{ 
	width: 100%;
} 
.cat-slide{
	width: 100%;
}


/* flex-item / 4개씩 정렬 */
.item-container{
	display: flex;
	justify-content: space-around;
	flex-flow: wrap;
}
.store-list-item-card{
	margin-right: 5px;
	flex-basis: 25%;
	height: auto;
	display: flex;
 	flex-direction: column;
}
.item-img{
	max-width:100%;
	max-height:100%;
	flex: auto;
}



