<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="com.tmh.t1.brand.BrandMapper">
	
	
		<!-- eb_brandAccept(brandAccept용) -->
		<update id="setBrandAccept" parameterType="BrandVO" >
			update brand set accept=true where brandNum=#{brandNum}
		</update>
		<!-- eb_brandSelect(brandAccept용)(상세정보) -->
		<select id="selectBrand" parameterType="BrandVO" resultType="BrandVO">
			select * from brand where brandNum=#{brandNum}
		</select>
	
		<!-- eb_brandList전체 불러오기(brandAccept용) -->
		<select id="getBrandList" resultType="BrandVO">
			select * from brand ORDER BY brandNum desc
		</select>
	
		
	
		<!-- eb_brandHome -->
		<select id="getBrandInfo" parameterType="BrandVO" resultType="BrandVO">
			SELECT * FROM brand WHERE brandNum=#{brandNum} OR username=#{username}
		</select>
		
		<!-- eb_brandInsert 판매번호 중복 여부 -->
		<select id="getRegistrationNum" parameterType="BrandVO" resultType="java.lang.Long">
			select count(*) from brand where registrationNum=#{registrationNum}
		</select>
	
		<!-- eb_brandInsert category-->
		<insert id="setBrand_Category" parameterType="java.util.Map" >
			INSERT INTO brand_category (brandNum, categoryID) VALUES (#{brandNum}, #{categoryID})
		</insert>

		<!-- eb_brandInsert -->
		<insert id="signBrand" parameterType="BrandVO" useGeneratedKeys="true" keyProperty="brandNum">
			INSERT INTO brand(username, companyName, registrationNum, companyHomepage, 
							  managerName, managerPhone, managerEmail, 
							  brandName, brandIntro, referenceFile, accept) 
			VALUES (#{username}, #{companyName}, #{registrationNum}, #{companyHomepage}, 
					#{managerName}, #{managerPhone}, #{managerEmail}, 
					#{brandName}, #{brandIntro}, #{referenceFile}, #{accept});	
		</insert>
		
		
		<!-- minkyung brandOrder -->
		
		<select id="getOrderList" parameterType="BrandVO" resultMap="orderListResult">
    	   select orderNum, orderDay, updateDay, paymentType, name from orders
				
				where 
				
				orderNum in
				
						(select C.orderNum from 
					    		((select * from orders where 
								
								orderDay BETWEEN DATE_ADD(NOW(),INTERVAL 
								-
								<if test="before == null ">
								1
								</if>
								<if test="before != null ">
								#{before}
								</if>
								
								MONTH ) AND NOW()
								
								) O
								inner join 
								(select * from cart 
					    		where brandNum=#{brandNum} and 
					    	
					    		 <choose>
					    		  	<when test="status == null">
					    		  		(validity > 1 and  20 > validity)
					    		  	</when>
					    		  	<when test="status == 8">
					    		  	   (validity = '11' or validity = '12')
					    		  	</when>
					    		  	<when test="status == 9">
					    		  		(validity = '13' or validity = '14' or validity = '15')
					    		  	</when>
					    		  	<when test="status == 10">
					    		  	    (validity = '8' or validity = '9' or validity = '10')
					    		  	</when>
					    		  	<otherwise>
					    		  		validity=#{status}
					    		  	</otherwise>
			    		        </choose>
								
					    		) C
								on C.orderNum = O.orderNum)
				            group by C.orderNum)
				             order by orderNum desc
    	
    	</select>
    	
    	
    	<select id="getCartSelect" parameterType="cartVO" resultMap="cartListResult">
    		select C.*, O.*, P.* from 
				(
				select * from cart 
	    		where cartNum = #{cartNum}
				   ) C
					inner join 
						(select * from orders 
			    		) O
					on C.orderNum = O.orderNum
						left join (select productPic, productName, productNum, shippingFee from product) P 
			            on P.productNum = C.productNum
			           
    	</select>
    	
    	<select id="getCartList" parameterType="BrandVO" resultMap="cartListResult">
    	   select C.*, O.*, P.*, C.updateDate from 
				(
				select * from cart 
	    		where brandNum=#{brandNum} and 
	    		           <choose>
				    		  	<when test="status == null">
				    		  		(validity > 1 and  20 > validity)
				    		  	</when>
				    		  	<when test="status == 8">
				    		  	   (validity = '11' or validity = '12')
				    		  	</when>
				    		  	<when test="status == 9">
				    		  		(validity = '13' or validity = '14' or validity = '15')
				    		  	</when>
				    		  	<when test="status == 10">
				    		  	    (validity = '8' or validity = '9' or validity = '10')
				    		  	</when>
				    		  	<otherwise>
				    		  		validity=#{status}
				    		  	</otherwise>
			    		  </choose>
		
				   ) C
					inner join 
						(select * from orders 
							where
							
							orderDay BETWEEN DATE_ADD(NOW(),INTERVAL 
							-
								<if test="before == null ">
								1
								</if>
								<if test="before != null ">
								#{before}
								</if>
							
							MONTH ) AND NOW()
						
			    		) O
					on C.orderNum = O.orderNum
						left join (select productPic, productName, productNum, shippingFee from product) P 
			            on P.productNum = C.productNum
			             order by C.cartNum desc
	    	
    	</select>
    	
    	<resultMap type="CartVO" id="cartListResult">
    	        <id column="cartNum" property="cartNum" />
	        	<result column="brandNum" property="brandNum" />
	        	<result column="productNum" property="productNum" />
	        	<result column="optionNum" property="optionNum" />
	        	<result column="amount" property="amount" />
		        <result column="validity" property="validity" />
		        <result column="brandShipping" property="brandShipping" />
		    	<result column="cartPrice" property="cartPrice" />
		    	<result column="unitPrice" property="unitPrice" />
		    	<result column="unitName" property="unitName" />
		    	<result column="carrierId" property="carrierId" />
		    	<result column="trackId" property="trackId" />
		    	<result column="cancel" property="cancel" />
		    	<result column="cancelMemo" property="cancelMemo" />
		    	<result column="updateDate" property="updateDay" />
		    	
		    	
		    	<association property="ordersVO"  javaType="OrdersVO">
			    	<id column="orderNum" property="orderNum" />
			    	<result column="username" property="username" />
			        <result column="paymentType" property="paymentType" />
			        <result column="itemsPrice" property="itemsPrice" />
			    	<result column="shippingFee" property="shippingFee" />
			        <result column="payment" property="payment" />
			    	<result column="shippingMemo" property="shippingMemo" />
			    	<result column="orderDay" property="orderDay" />
			    	<result column="updateDay" property="updateDay" />
			    	<result column="name" property="name" />
			    	<result column="email" property="email" />
			    	<result column="phone" property="phone" />
			    	<result column="shipName" property="shipName" />
			    	<result column="shipPhone" property="shipPhone" />
			    	<result column="postcode" property="postcode" />
			    	<result column="shipAddress" property="shipAddress" />
			    </association>
	    	
	        
	           <association property="productVO"  javaType="ProductVO">
		        	<id column="productNum" property="productNum" />
		        	<result column="productPic" property="productPic" />
		        	<result column="productName" property="productName" />
		        	<result column="shippingFee" property="shippingFee" />
	           </association>
	          
	    </resultMap>
    	
    	<resultMap type="OrdersVO" id="orderListResult">
	    	<id column="orderNum" property="orderNum" />
	    	<result column="username" property="username" />
	        <result column="paymentType" property="paymentType" />
	        <result column="itemsPrice" property="itemsPrice" />
	    	<result column="shippingFee" property="shippingFee" />
	        <result column="payment" property="payment" />
	    	<result column="shippingMemo" property="shippingMemo" />
	    	<result column="orderDay" property="orderDay" />
	    	<result column="updateDay" property="updateDay" />
	    	<result column="name" property="name" />
	    	<result column="email" property="email" />
	    	<result column="phone" property="phone" />
	    	<result column="shipName" property="shipName" />
	    	<result column="shipPhone" property="shipPhone" />
	    	<result column="postcode" property="postcode" />
	    	<result column="shipAddress" property="shipAddress" />
	    	
	        <collection property="cartList" javaType="java.util.List" ofType="CartVO">
	        	<id column="cartNum" property="cartNum" />
	        	<result column="brandNum" property="brandNum" />
	        	<result column="productNum" property="productNum" />
	        	<result column="optionNum" property="optionNum" />
	        	<result column="amount" property="amount" />
		        <result column="validity" property="validity" />
		        <result column="brandShipping" property="brandShipping" />
		    	<result column="cartPrice" property="cartPrice" />
		    	<result column="unitPrice" property="unitPrice" />
		    	<result column="unitName" property="unitName" />
		    	<result column="carrierId" property="carrierId" />
		    	<result column="trackId" property="trackId" />
		    	<result column="cancel" property="cancel" />
		    	<result column="cancelMemo" property="cancelMemo" />
	        	
	           <association property="productVO"  javaType="ProductVO">
	        	<id column="productNum" property="productNum" />
	        	<result column="productPic" property="productPic" />
	        	<result column="productName" property="productName" />
	        	<result column="shippingFee" property="shippingFee" />
	           </association>
	          
	           
	        </collection>
	        
	    </resultMap>
	    
	    <!-- minkyung end -->
		
		
		
		
		
	</mapper>