<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="com.tmh.t1.brand.BrandMapper">
		<insert id="signBrand" parameterType="BrandVO" useGeneratedKeys="true" keyProperty="brandNum">
			INSERT INTO brand(username, companyName, registrationNum, companyHomepage, 
							  managerName, managerPhone, managerEmail, 
							  brandName, brandIntro, referenceFile, accept) 
			VALUES (#{username}, #{companyName}, #{registrationNum}, #{companyHomepage}, 
					#{managerName}, #{managerPhone}, #{managerEmail}, 
					#{brandName}, #{brandIntro}, #{referenceFile}, #{accept});	
		</insert>
		
		<select id="getCategory" resultType="CategoryVO">
			SELECT categoryID, category_detail_NM FROM category WHERE category_NM = '대분류'
		</select>
		
		<insert id="setBrand_Category" parameterType="java.util.Map" >
			INSERT INTO brand_category (brandNum, categoryID) VALUES (#{brandNum}, #{categoryID});
		</insert>
		
	</mapper>