<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="com.tmh.t1.brand.BrandMapper">
		<select id="getRegistrationNum" parameterType="BrandVO" resultType="java.lang.Long">
			select count(*) from brand where registrationNum=#{registrationNum}
		</select>
	
	
		<insert id="signBrand" parameterType="BrandVO" useGeneratedKeys="true" keyProperty="brandNum">
			INSERT INTO brand(username, companyName, registrationNum, companyHomepage, 
							  managerName, managerPhone, managerEmail, 
							  brandName, brandIntro, referenceFile, accept) 
			VALUES (#{username}, #{companyName}, #{registrationNum}, #{companyHomepage}, 
					#{managerName}, #{managerPhone}, #{managerEmail}, 
					#{brandName}, #{brandIntro}, #{referenceFile}, #{accept});	
		</insert>
		
		<insert id="setBrand_Category" parameterType="java.util.Map" >
			INSERT INTO brand_category (brandNum, categoryID) VALUES (#{brandNum}, #{categoryID})
		</insert>
		
		<select id="getBigCategory" resultType="CategoryVO">
			SELECT categoryID, category_detail_NM FROM category 
			WHERE category_detail_parent=0 AND category_parent=0
		</select>
		
		
		
		
	</mapper>