<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.tmh.t1.cart.CartMapper">
   

    
	    <select id="getProductList" parameterType="CartVO" resultType="ProductVO">
	    
		    select productNum, productName, productPrice, discountPrice, productPic, shippingFee, brandNum 
		    	from product
					where productNum 
					      in 
							(select productNum 
							    from cart 
									where username=#{username} and 
										<if test="valid =='zero'">
										(validity='0'or validity='1')
										</if>
										<if test="valid =='one'">
										 validity='1'
										</if>
										<if test="valid =='two'">
										validity='2'
										</if>
									and brandNum 
										  in 
											(select brandNum from cart where username=#{username} and 
											<if test="valid =='zero'">
											(validity='0'or validity='1')
											</if>
											<if test="valid =='one'">
											 validity='1'
											</if>
											<if test="valid =='two'">
											validity='2'
											</if>
											group by brandNum) 
							group by productNum)
				    
	    </select> 

	    
	     <select id="getBrandList" parameterType="CartVO" resultType="BrandVO">
			select brandNum, brandName, companyName
				from brand
					where brandNum in 
							(select brandNum from cart where username=#{username} and 
								<if test="valid =='zero'">
								(validity='0'or validity='1')
								</if>
								<if test="valid =='one'">
								 validity='1'
								</if>
								<if test="valid =='two'">
								validity='2'
								</if>
						
						    group by brandNum)
	    </select> 
    
    
    
        <select id="getCartList" parameterType="CartVO" resultType="CartVO">
    	    select * from cart where username=#{username} and 
			
			<if test="valid =='zero'">
			(validity='0'or validity='1')
			</if>
			<if test="valid =='one'">
			 validity='1'
			</if>
			<if test="valid =='two'">
			validity='2'
			</if>
			
	    </select>
	    
	    <resultMap type="CartVO" id="cartListResult">
	    	<id column="cartNum" property="cartNum" />
	    	<result column="brandNum" property="brandNum" />
	        	<result column="productNum" property="productNum" />
	        	<result column="orderNum" property="orderNum" />
	        	<result column="amount" property="amount" />
		        <result column="validity" property="validity" />
		        <result column="brandShipping" property="brandShipping" />
		    	<result column="cartPrice" property="cartPrice" />
		    	<result column="unitPrice" property="unitPrice" />
		    	<result column="unitName" property="unitName" />
		    	<result column="carrierId" property="carrierId" />
		    	<result column="trackId" property="trackId" />
		    	<result column="cancel" property="cancel" />
		    	<result column="cancelMemo" property="cancelMemo" />
	        	 
	    	
	    	<association property="productVO"  javaType="ProductVO">
	        	<id column="productNum" property="productNum" />
	        	<result column="productPic" property="productPic" />
	        	<result column="productName" property="productName" />
	        	<result column="shippingFee" property="shippingFee" />
	        </association>
	        
	        <association property="brandVO"  javaType="BrandVO">
	        	<id column="brandNum" property="brandNum" />
	        	<result column="brandName" property="brandName" />
             </association>
	           

	    
	    </resultMap>
    
    
	   
        <select id="getSelect" parameterType="CartVO" resultMap="cartListResult">
    		select C.*, P.*, B.* from cart C
    			left join (select productPic, productName, productNum, shippingFee from product) P 
					on P.productNum = C.productNum
				left join (select brandName, brandNum from brand) B 
					on C.brandNum = B.brandNum
    		where cartNum=#{cartNum} 
    		
    	</select>
    	
    	<select id="getList" parameterType="CartVO" resultType="CartVO">
    		select * from cart where username=#{username}
    	</select>
    	
    	<insert id="setInsert" parameterType="CartVO" useGeneratedKeys="true" keyProperty="cartNum"> 
    		insert into cart(username, brandNum, productNum, amount, validity, cartPrice, unitPrice, unitName) 
    		values(#{username}, #{brandNum}, #{productNum}, #{amount}, 0, #{cartPrice}, #{unitPrice}, #{unitName})
    	</insert>
    	
    	
    	
    	<delete id="setOptionDelete" parameterType="CartVO">
    		delete from cart where cartNum=#{cartNum}
    	</delete>
    	
    	<delete id="setProductDelete" parameterType="CartVO">
    		delete from cart where productNum=#{productNum} and username=#{username}
    	</delete>
    	
    	<!-- minkyung_부분 취소/교환/반품시 업데이트 -->
    	<update id="setCancelUpdate" parameterType="CartVO">
    		update cart set cancel=#{cancel}, cancelMemo=#{cancelMemo},
    		<if test="kind =='취소'">
			validity='11'
			</if>
			<if test="kind =='교환'">
			validity='13'
			</if>
			<if test="kind =='환불'">
			validity='8'
			</if>
    		where cartNum=#{cartNum}
    	</update>
    	
    	<!-- minkyung_전체 취소/교환/반품시 업데이트 -->
    <!-- 	<update id="setOrderCancel" parameterType="CartVO">
    		update cart set cancel=#{cancel}, cancelMemo=#{cancelMemo},
    		<if test="valid =='cancel'">
			validity='11'
			</if>
			<if test="valid =='exchnage'">
			validity='13'
			</if>
			<if test="valid =='refund'">
			validity='8'
			</if>
    		where cartNum=#{cartVO}
    	</update> -->
    	
    	<update id="setValidityUpdate" parameterType="CartVO">
    	    update cart set 
    	    
    	    <if test="valid =='zero'">
			validity='0'
			</if>
			<if test="valid =='one'">
			 validity='1'
			</if>
			<if test="validity > 2">
			 validity=#{validity}
			</if>
			
			
			<if test="carrierId != null">
			,carrierId=#{carrierId}
			</if>
			<if test="trackId != null">
			,trackId=#{trackId}
			</if>
			
    		where cartNum=#{cartNum} 
    	</update>
    	
    	<update id="setBrandShipUpdate">
    	   update cart set brandShipping=#{brandShipping}
    		 where cartNum=#{cartNum}
    	</update>
    	
    	<update id="setAmountUpdate" parameterType="CartVO">
    		update cart set amount=#{amount}, cartPrice=#{cartPrice}
    		where cartNum=#{cartNum} and username=#{username}
    	</update>
    	
    	<update id="setOrderUpdate" parameterType="CartVO">
    		update cart set orderNum=#{orderNum}, validity='2'
    		where validity='1' and username=#{username}
    	</update>
    
    
    </mapper>