<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.tmh.t1.cart.CartMapper">
    
    <select id="getSelect" parameterType="CartVO" resultType="CartVO">
    		select * from cart where cartNum=#{cartNum} 
    	</select>
    	
    	<select id="cartList" parameterType="CartVO" resultType="CartVO">
    		select * from cart where username=#{username}
    	</select>
    	
    	<insert id="setInsert" parameterType="CartVO">
    		insert into cart(username, brandNum, productNum, optionNum, amount, validity, isBundled, isFree) 
    		values(#{username}, #{brandNum}, #{productNum}, #{optionNum}, #{amount}, #{validity}, #{isBundled}, #{isFree})
    	</insert>
    	
    	<delete id="setOptionDelete" parameterType="CartVO">
    		delete cart where cartNum=#{cartNum}
    	</delete>
    	
    	<delete id="setProductDelete" parameterType="CartVO">
    		delete cart where productNum=#{productNum} and username=#{username}
    	</delete>
    	
    	<update id="setUpdate" parameterType="CartVO">
    		update cart set optionNum=#{optionNum}, amount=#{amount}, validity=#{validity}, isBundled=#{isBundled}, isFree=#{isFree}
    		where productNum=#{productNum} and username=#{username}
    	</update>
    
    
    </mapper>