<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tmh.t1.category.CategoryMapper">
<select id="getCategory" parameterType="CategoryVO" resultType="CategoryVO">
SELECT groupId, category_detail_NM FROM category WHERE category_detail_parent=#{category_detail_parent} AND category_parent=1
</select>

<select id="selectCategoryOne" parameterType="CategoryVO" resultType="CategoryVO">
SELECT groupId, category_detail_NM FROM category WHERE category_detail_parent=#{category_detail_parent} AND category_parent=1
</select>

<select id="selectCategoryTwo" parameterType="CategoryVO" resultType="CategoryVO">
SELECT * FROM category WHERE category_detail_parent=2 AND category_parent=2 AND groupid=
(SELECT distinct groupId FROM category WHERE category_detail_parent=1 AND category_parent=1)
</select>

<select id="selectCategoryThree" parameterType="CategoryVO" resultType="CategoryVO">
SELECT * FROM 
(SELECT * FROM category WHERE category_detail_parent=2 AND category_parent=2 AND groupid=
(SELECT distinct groupId FROM category WHERE category_detail_parent=1 AND category_parent=1)) C
 WHERE C.category_detail_lev=3
 </select>
 
<!-- productInsert에서 사용 -->
<select id="getCategoryOne" parameterType="java.lang.String" resultType="CategoryVO">
	SELECT categoryID, category_detail_NM FROM category WHERE categoryID IN 
		(SELECT categoryID FROM brand_category WHERE brandNum = 
			(SELECT brandNum FROM brand WHERE username =#{username}) )
</select>
<select id="getCategoryTwo" parameterType="CategoryVO" resultType="CategoryVO">
	SELECT categoryID, category_detail_NM FROM category 
	WHERE category_detail_parent= (SELECT category_detail_LEV FROM category WHERE categoryID=#{categoryID})
		  AND groupId= (SELECT groupId FROM category WHERE categoryID=#{categoryID} )
		  AND category_LEV=2
</select>
<select id="getCategoryThree" parameterType="CategoryVO" resultType="CategoryVO">
	SELECT categoryID, category_detail_NM FROM category 
	WHERE category_detail_parent= (SELECT category_detail_LEV FROM category WHERE categoryID=#{categoryID})
		  AND groupID = (SELECT groupId FROM category WHERE categoryID=#{categoryID})
		  AND category_LEV=3
</select>


 
</mapper>

