<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tmh.t1.category.CategoryMapper">
	<select id="getCategory" parameterType="CategoryVO" resultType="CategoryVO">
	SELECT groupId, category_detail_NM FROM category WHERE category_detail_parent=#{category_detail_parent} AND category_parent=1
	</select>
	
	<select id="selectCategoryOne" parameterType="CategoryVO" resultType="CategoryVO">
	SELECT groupId, category_detail_NM FROM category WHERE category_detail_parent=#{category_detail_parent} AND category_parent=1
	</select>
	
	<select id="selectCategoryTwo" parameterType="CategoryVO" resultType="CategoryVO">
	SELECT * FROM category WHERE category_detail_parent=2 AND category_parent=2 AND groupid=
	(SELECT distinct groupId FROM category WHERE category_detail_parent=1 AND category_parent=1)
	</select>
	
	<select id="selectCategoryThree" parameterType="CategoryVO" resultType="CategoryVO">
	SELECT * FROM 
	(SELECT * FROM category WHERE category_detail_parent=2 AND category_parent=2 AND groupid=
	(SELECT distinct groupId FROM category WHERE category_detail_parent=1 AND category_parent=1)) C
	 WHERE C.category_detail_lev=3
	</select>
	
	
	<!-- eb_productUpdate 카테고리 아이디를 파라미터로 받아서 대분류>중분류>소분류(문자열)로 출력 -->
	<!-- 단, 카테고리 아이디가 소분류일때만 사용 가능 -->
	<select id="getCategoryNM" parameterType="CategoryVO" resultType="java.lang.String">
		SELECT CONCAT(c1.category_detail_NM,'>',cs.st) 
		FROM category c1 , (SELECT CONCAT(c2.category_detail_NM ,'>', c3.category_detail_NM) st, c2.groupID, c2.category_detail_parent, c2.category_parent
							FROM category c2, (SELECT * FROM category WHERE categoryID=#{categoryID}) c3 
							WHERE c2.groupID=c3.groupID AND c2.category_detail_LEV=c3.category_detail_parent AND c3.category_parent = c2.category_LEV)cs
		WHERE c1.groupID=cs.groupID AND c1.category_detail_LEV=cs.category_detail_parent AND cs.category_parent = c1.category_LEV
	</select>
	
	
	<!-- eb_productUpdate 상품의 카테고리 불러오기 -->
	<select id="getProdCategory" parameterType="java.lang.Long" resultType="CategoryVO">
		SELECT * FROM category 
		WHERE categoryID = (SELECT categoryID FROM product_category WHERE productNum=${productNum})
	</select>
	
	<!--eb brandInsert(입점신청)에서 사용, 대분류 카테고리 조회 -->
	<select id="getBigCategory" resultType="CategoryVO">
			SELECT categoryID, category_detail_NM FROM category 
			WHERE category_detail_parent=0 AND category_parent=0
	</select>

	<!--eb productInsert(입점신청) & brandHome 에서 사용 -->
	<!-- brand가 가입시 선택한 대분류만 조회 -->
	<select id="getCategoryOne" parameterType="java.util.Map" resultType="CategoryVO">
		SELECT * FROM category WHERE categoryID IN 
			(SELECT categoryID FROM brand_category WHERE brandNum = 
				(SELECT brandNum FROM brand WHERE username =#{username} )or brandNum=#{brandNum} )
	</select>
	<!--eb categoryID를 기반으로 다음단계(대->중->소) 카테고리 조회 -->
	<select id="getNextCategory" parameterType="CategoryVO" resultType="CategoryVO">
		SELECT * FROM category C, (SELECT * FROM category WHERE categoryID=#{categoryID})C2
		WHERE C.category_detail_parent=C2.category_detail_LEV 
			AND C.groupID=C2.groupID
			AND C.category_LEV=C2.category_LEV+1
	</select>
	<!-- eb_brandHome ajax에서 사용 소>중 찾기 파라미터로 브랜드넘이랑 카테고리 아이디 받고 있음-->
	<select id="getTwoFromThree" parameterType="java.util.Map" resultType="CategoryVO">
		SELECT two.* 
		FROM category two, ( SELECT DISTINCT c.*
							FROM product_category pc
							join (SELECT * 
								  FROM product 
								  WHERE brandNum=#{brandNum} 
								  GROUP BY productNum DESC) p 
							on pc.productNum = p.productNum
							JOIN category c
							ON pc.categoryID=c.categoryID
							WHERE c.groupId = (SELECT groupId 
											   FROM category 
											   WHERE categoryID=#{categoryID})	
							) three
		WHERE two.category_LEV=three.category_parent 
		AND two.category_detail_Lev = three.category_detail_parent
		AND two.groupID= three.groupID
	
	</select>
	<!-- 수정할듯 -->
	<select id="getCategoryID" parameterType="java.lang.Long" resultType="CategoryVO">
		SELECT distinct C.* 
		FROM category C, 
			 (SELECT categoryID 
			  FROM product_category 
			  WHERE productNum IN (SELECT productNum FROM product WHERE brandNum=#{brandNum})) PC 
		WHERE C.categoryID=PC.categoryID
	</select>
	<!-- 사용안함 -->
	<select id="getBrandCategory" parameterType="java.util.List" resultType="CategoryVO">
		SELECT * FROM category 
		WHERE categoryID in (
			SELECT DISTINCT categoryID FROM product_category WHERE productNum IN 
			<foreach collection="productNums" item="productNum" index="idx" separator="," open="(" close=")">
		    	#{productNum}
		    </foreach>
			)
	</select>

 
</mapper>

