<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tmh.t1.housewarming.hwReply.HwReplyMapper">

	<select id="getList" parameterType="HwReplyVO" resultType="HwReplyVO">
		select * from hwReply 
		where hwNum=#{hwNum} 
		order by hwReplyNum desc
		<!-- limit #{startRow}, #{perPage} -->
	</select>
	
	<select id="getTotalCount" parameterType="Pager" resultType="java.lang.Long">
		select count(hwReplyNum) from hwReply
	</select>
	
	<insert id="setInsert" parameterType="HwReplyVO">
		insert into hwReply (hwNum, username, comment, step, depth) 
		values(#{hwNum}, #{username}, #{comment}, 0, 0)
	</insert>
	
	<update id="setUpdate" parameterType="HwReplyVO">
		update hwReply set step=step+1 where hwReplyNum=#{hwReplyNum} and step>#{step}
	</update>
	
	<delete id="setDelete" parameterType="HwReplyVO">
		delete from hwReply where hwReplyNum=#{hwReplyNum}
	</delete>
	
</mapper>