<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tmh.t1.housewarming.hwReply.HwReplyMapper">

	<select id="getList" parameterType="HwReplyVO" resultType="HwReplyVO">
		select * from hwReply where hwNum=#{hwNum} order by hwReplyNum desc
	</select>
	
	<insert id="setInsert" parameterType="HwReplyVO">
		insert into hwReply (hwNum, username, comment, ref, step, depth) 
		values(#{hwNum}, #{username}, #{comment}, #{ref}, #{step}, #{depth})
	</insert>
	
	<update id="setUpdate" parameterType="HwReplyVO">
		update hwReply set step=step+1 where ref=#{ref} and step>#{step}
	</update>
	
</mapper>