<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.tmh.t1.product.ProductMapper">
    	
    <!-- 김은비 -->
    	<select id="getBrandNum" parameterType="java.lang.String" resultType="java.lang.Long">
    		SELECT brandNum FROM brand WHERE username=#{username}
    	</select> 
    	<insert id="setProduct" parameterType="ProductVO" useGeneratedKeys="true" keyProperty="productNum">
			INSERT INTO product (brandNum, productPic, contents, 
								 productName, productPrice, discount, shippingFee) 
			VALUES (#{brandNum},#{productPic},#{contents},
					#{productName},#{productPrice},#{discount},#{shippingFee})
    	</insert>
    	<insert id="setImages" parameterType="ProductImagesVO">
			INSERT INTO productimages (productNum, fileName) VALUES (#{productNum}, #{fileName})
		</insert>
		
		
		<select id="getBigCategory" parameterType="java.lang.String" resultType="CategoryVO">
			SELECT categoryID, category_detail_NM FROM category WHERE categoryID IN 
				(SELECT categoryID FROM brand_category WHERE brandnum = 
					(SELECT brandNum FROM brand WHERE username =#{username}) )
		</select>
		<insert id="setProduct_Options" parameterType="java.util.Map">
			INSERT INTO product_options VALUES (#{productNum}, #{optionNum})
		</insert>
		
		
    <!-- 장은 -->
    	<select id="getProductList" parameterType="ProductVO" resultType="ProductVO">
    		select * from product
    	</select>
    	
    	<select id="getBrandList" parameterType="ProductVO" resultType="BrandVO">
    		select brandName from brand
			where brandNum IN (SELECT brandNum FROM product WHERE productNum=#{productNum})
    	</select>
    	
    	<select id="getOptionsList" parameterType="ProductVO" resultType="OptionsVO">
    		SELECT * from options
			where productNum IN (SELECT productNum FROM product WHERE productNum=#{productNum})
    	</select>
    	
    
    	<select id="getSelect" parameterType="ProductVO" resultType="ProductVO">
    		select * from product where productNum=#{productNum}
    	</select>
    
    
    </mapper>