<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.tmh.t1.product.ProductMapper">
    	
    <!-- 김은비 -->
    	<select id="getBrandNum" parameterType="java.lang.String" resultType="java.lang.Long">
    		SELECT brandNum FROM brand WHERE username=#{username}
    	</select> 
    	<insert id="setProduct" parameterType="ProductVO" useGeneratedKeys="true" keyProperty="productNum">
			INSERT INTO product (brandNum, productPic, contents, 
								 productName, productPrice, discountPrice, shippingFee) 
			VALUES (#{brandNum},#{productPic},#{contents},
					#{productName},#{productPrice},#{discountPrice},#{shippingFee})
    	</insert>
    	<insert id="setImages" parameterType="ProductImagesVO">
			INSERT INTO productimages (productNum, fileName) VALUES (#{productNum}, #{fileName})
		</insert>
		
		<insert id="setProduct_category" parameterType="java.util.Map">
			INSERT INTO product_category VALUES (#{productNum}, #{categoryID})
		</insert>

		<insert id="setProduct_Options" parameterType="java.util.Map">
			INSERT INTO product_options VALUES (#{productNum}, #{optionNum})
		</insert>
		
		
    <!-- 장은 -->
    	<select id="getProductList" parameterType="ProductVO" resultMap="ProductVO">
    		SELECT p.*, b.*
			FROM product p INNER JOIN brand b 
			ON p.brandNum = b.brandNum
    	</select>
    	
    	<resultMap type="BrandVO" id="brandVO">
    		<id column="brandNum" property="brandNum"/>
    		<result column="username" property="username" />
    		<result column="companyName" property="companyName"/>
    		<result column="registrationNum" property="registrationNum"/>
    		<result column="companyHomepage" property="companyHomepage"/>
    		<result column="managerName" property="managerName"/>
    		<result column="managerPhone" property="managerPhone"/>
    		<result column="managerEmail" property="managerEmail"/>
    		<result column="brandName" property="brandName"/>
    		<result column="brandIntro" property="brandIntro"/>
    		<result column="referenceFile" property="referenceFile"/>
    		<result column="accept" property="accept"/>
    	</resultMap>
    
    	
    	<resultMap type="ProductVO" id="ProductVO">
			<id column="productNum" property="productNum"/>
			<result column="brandNum" property="brandNum"/>
			<result column="productName" property="productName"/>
			<result column="productPrice" property="productPrice"/>
			<result column="productPic" property="productPic"/>
			<result column="contents" property="contents"/>
			<result column="discountPrice" property="discountPrice"/>
			<result column="shippingFee" property="shippingFee"/>
			<collection property="brandVO" resultMap="brandVO"/>
			
		</resultMap>
		
	
    	
    	<select id="getBrandList" parameterType="ProductVO" resultType="BrandVO">
    		select brandName from brand
			where brandNum IN (SELECT brandNum FROM product WHERE productNum=#{productNum})
    	</select>
    	
    	<select id="getOptionsList" parameterType="ProductVO" resultType="OptionsVO">
    		SELECT * from options
			where optionNum IN (SELECT optionNum FROM product_options WHERE productNum=#{productNum})
    	</select>
    	
    
    	<select id="getSelect" parameterType="ProductVO" resultType="ProductVO">
    		SELECT p.*, b.*
			FROM product p INNER JOIN brand b 
			ON p.brandNum = b.brandNum
			 WHERE p.productNum=#{productNum}
    	</select>
    
    
    </mapper>